In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [4]:
df = pd.read_csv('Downloads/archive/population_by_country.csv')

In [5]:
df.head()

  country_code country_name  year    value
0          ABW        Aruba  1960  54608.0
1          ABW        Aruba  1961  55811.0
2          ABW        Aruba  1962  56682.0
3          ABW        Aruba  1963  57475.0
4          ABW        Aruba  1964  58178.0